<h1 class="encabezado">Listado de usuarios</h1>
<table class="table tabla table-striped">
  <thead>
  <tr>
    <td></td>
    <td>USUARIO</td>
    <td>NOMBRE Y APELLIDOS</td>
    <td>EMAIL</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let usuario of usuarios" (click)="redirectToDetails(usuario.id)">
    <td class="text-center "><a [routerLink]="['/users/'+ usuario.id]" title="Editar"><span class="fa fa-pencil clickable"></span></a></td>
    <td>{{ usuario.username}}</td>
    <td>{{ usuario.name}}</td>
    <td>{{ usuario.email}}</td>
  </tr>
  </tbody>

</table>
