
<section>
  <form>
    <img src="assets/logo.png" title="SDOS" alt="SDOS">
    <p>
      <label for="usuario">Usuario</label>
      <br/>
      <input id="usuario" class="input" type="text">
    </p>
    <p>
      <label for="contrasena">Contraseña</label>
      <br/>
      <input id="contrasena" class="input" type="password">
    </p>
    <p>
      <label for="contrasena">
      <input type="checkbox" class="checkbox"  id="noCloseSesion" />
      No cerrar sesión
      </label>
    </p>
    <p>
      <button type="button" (click)="login()" class="enter"> ENTRAR </button>
    </p>
  </form>
</section>
