<div class="grid-container">
  <div class="item1">
    <header>
      <h4> Front end - Angular
        <span class="pull-right"><i class="fa fa-sign-out"></i></span>
      </h4>

    </header>
  </div>
  <div class="item2">
    <nav>
      <a [routerLink]="'/'">  <img src="assets/logo.png" title="SDOS" alt="SDOS"></a>
      <ul>
        <li>
          <a [routerLink]="'/dashboard'"><i class="fa fa-users"></i> Usuarios</a>
        </li>
      </ul>

    </nav>
  </div>
  <div class="item3">
    <p><a (click)="volverAtras()" id="atras">Volver atrás</a></p>
    <router-outlet></router-outlet>
  </div>
</div>
