<div class="grid-container">
  <div class="item1">
      <p class="logo">
        <a [routerLink]="'/'">
          <img src="assets/logo.png" title="SDOS" alt="SDOS">
        </a>
      </p>

      <ul class="menu">
        <li>
          <a [routerLink]="'/dashboard'"><i class="fa fa-users"></i> Usuarios</a>
        </li>
      </ul>

  </div>
    <header class="item2">
      <h4> Front end - Angular
        <a [routerLink]="'/'"><span class="pull-right text-white"><i class="fa fa-sign-out"></i></span></a>
      </h4>

    </header>
  <div class="item3">
    <p style="margin-top: 10px;"><a (click)="volverAtras()" id="atras">Volver atrás</a></p>
    <router-outlet></router-outlet>
  </div>
</div>
