/*nav {*/
/*  display: block;*/
/*  width: 15%;*/
/*}*/



/*nav, header{*/
/*  float: right;*/
/*}*/


.item1 { grid-area: menu; }
.item2 { grid-area: header; }
.item3 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header header header header'
    'menu main main main main main main main main';
}

#atras:hover{
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

