<h3>Editar usuario</h3>

<div class="flotante">
  <p>
    <label for="username">Usuario</label>
    <br/>
    <input type="text" id="username" value="{{ usuario.username}}">
  </p>
</div>

<div class="flotante">
  <p>
    <label for="name">Nombre y apellidos</label>
    <br/>
    <input type="text" id="name" value="{{ usuario.name}}">
  </p>
</div>

<div class="flotante">
  <p>
    <label for="email">Email</label>
    <br/>
    <input type="text" id="email" value="{{ usuario.email}}">
  </p>
</div>

<div class="flotante">
  <p>
    <label for="usuario">Dirección</label>
    <br/>
    <input type="text" id="usuario" value="{{ usuario.name}}">
  </p>
</div>

<div class="flotante">
  <p>
    <label for="phone">Teléfono</label>
    <br/>
    <input type="text" id="phone" value="{{ returnFullAdress }}">
  </p>
</div>

<div class="clear">
  <p>
    <button type="button"  class="cancelar" onClick="window.history.back()">Cancelar</button>
  </p>
</div>
