/* You can add global styles to this file, and also import other style files */
/**{*/
/*  border: 1px black solid;*/
/*}*/
body{
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

div#login{
  margin-top: 250px;
  margin-bottom: 250px;
  /*margin: auto auto;*/
  grid-area: login;
}


#main {
  display: grid;
  grid-template-areas:
    'login content content content content content content'
}

div#contenido{
  /*margin-top: 200px;*/
  grid-area: content;
  /*height: 100%;*/
  /*max-height: 2000px;*/
  background: url("/assets/login-carousel.jpg");
  /*background-image: url("img_girl.jpg");*/

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  /*background-position: center;*/
  background-repeat: no-repeat;
  /*background-size: cover;*/

}


header{
  background: #555555;
  color: white;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 5px;
  padding-bottom: 20px;
}

header h4{

  margin: 10px 30px;
}

.input{
  width: 95%;
  margin-right: 3px;
  border: 0;
  border-bottom: grey solid;
}

.checkbox{
  border: #142B7D outset;
  background-color: white;
}
.enter{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: dodgerblue;
  color: white;
  font-weight: bold;
  border: 0;
  text-align: center;
  width: 120px;
  height: 40px;
}

div.flotante {
  width: 30%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.clear{
  clear: both;
}

.text-center{
  text-align: center;
}

.texto-azul{
  color: dodgerblue;
}

.text-white, .clickable:hover{
  color: white;
}

.pull-right{
  float: right;
}

.subrayado{
  text-decoration: underline;
}
.negrita{
  font-weight: bold;
}

p.logo{
  margin-top: 25px;
  padding: 10px;
}
ul.menu {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  width: 200px;
  background-color: white;
}

ul.default {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

.menu li a {
  display: block;
  color: dodgerblue;
  padding: 15px 16px;
  text-decoration: none;
}

.logo img{
  width: 100px;
}

/* Change the link color on hover */
.menu li a:hover {
  background-color: white;
  color: dodgerblue;
  border-left: dodgerblue solid 3px;
}

.menu a:active {
  background-color: #4CAF50;
  color: white;
}

h1.encabezado{
  margin: 50px;
}
