/* You can add global styles to this file, and also import other style files */
/**{*/
/*  border: 1px black solid;*/
/*}*/
body{
  font-family: 'Roboto', sans-serif;
}

div.flotante {
  width: 30%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.clear{
  clear: both;
}

.text-center{
  text-align: center;
}

.pull-right{
  float: right;
}

.subrayado{
  text-decoration: underline;
}
.negrita{
  font-weight: bold;
}
