.cancelar{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 30px;
  /*padding: 15px;*/
  background: slategrey;
  color: white;
  border: 0;
}
img{
  width: 100px;
}

/*nav, header{*/
/*  float: right;*/
/*}*/
header{
  background: #142B7D;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.item1 { grid-area: left; }
.item2 { grid-area: center; }
.item3 { grid-area: right; }
.item4 { grid-area: left1; }
.item5 { grid-area: center1; }
.item6 { grid-area: right1; }
.album { grid-area: album; }
.posts { grid-area: posts; }

.grid-container {
  display: grid;
  grid-template-areas:
    'left left center center right right'
    'left1 left1 center1 center1 right1 right1'
    'album album album posts posts posts'
}

.tabla{
  width: 100%;
  /*border: 0;*/
}

.tabla thead {
  color: dodgerblue;
  border-bottom: darkgrey solid 1px;
}

.tabla tbody tr{
  cursor: pointer;
}

.tabla tbody tr:hover{
  text-decoration: underline;
  background-color: dodgerblue;
  color: white;
}

.tabla tbody tr td{
  padding-bottom: 15px;
}

.tabla thead tr td{
  padding-bottom: 5px;
}

.tabla tbody tr td, .tabla thead tr td {
  padding-top: 15px;
}
.tabla tbody{
  color: #142B7D;
}

